body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    line-height: 60px;
    color: #121212;
}
/*+ это меню навигации*/
.container_navbar {
    width: 1150px;
    margin: 0 auto;
    
}
.navbar__logo {
   width: 126.889px;
   height: 21.42px;
   
}
.navbar {
    width: 100%;
    height: 70px;
}
.container_navbar {
    padding: 125px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar_wrap {
    display: flex;
}

.navbar_menu li {
    color: #121212;
    display: inline-block;
}
.navbar_menu li a {
    color: #121212;
    margin-left: 60px;
    text-decoration: none;
    transition: all .07s;
}
.navbar_menu li a:hover {
opacity: 50%;
text-decoration: underline;
}
/*+ 1 блок*/
.container_absolute {
    width: 1150px;
    margin: 0 auto;
    padding: 125px;
}
.wrapper__text {
    width: 956px;
    height: 120px;
    margin-top: 73.76px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    padding-bottom: 88px;
    letter-spacing: -1.8px;
    color: #121212;
}
.container_wrapper {
    position: relative;
    width: 1150px;
    height: 500px;
    margin: 0 auto;
    
}
.absolute__motto { 
    
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    position: absolute;
    bottom: 78px;
    z-index: 1;
    left: 37px;
    color: rgb(255, 255, 255);
}
.wrapper__hero__img {
    background-size: contain;
    width: 1150px;
    height: 500px;
    flex-shrink: 0;
}
/*+ 2 мини блок-карточка*/

.aboutUs__title {
   padding-top: 112px;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: -0.54px;
   text-transform: uppercase;
   color: #121212;
    
}
.container_aboutUs {
    margin-bottom: 247px;
    padding-bottom: 30px;
    font-weight: 400px;
    font-size: 45px;
    line-height: 61.47px;
    border-width: 1048px;
    width: 1048px;
    height: 366px;
    top: 128px;
    letter-spacing: -1.35px;
    color: #121212;
}
.aboutUs__title {
    margin-bottom: 30px;
}
.aboutUs__serviceButton {
    margin-top: 30px;
    width: 250px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: -0.6px;
    border-radius: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #AD1818;
    color: #FFFFFF;
    background-color: #AD1818;
}
/*+Блок 3 - Список проектов*/
.container_project {
    margin-bottom: 30px;
    width: 1150px;
    margin: 0 auto;
}
.LCD-PRAVOBEREZHNY_title, 
.NORWEGIAN-PARK_title, 
.LCD-SOSNOVSKIE-LAKES_title {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
}
.project__image__LCD-PRAVOBEREZHNY, 
.project__image__NORWEGIAN-PARK, 
.project__image__LCD-SOSNOVSKIE-LAKES {
    background-size: contain;
    padding-top: 30px;
    width: 1150px;
    height: 450px;
    flex-shrink: 0; 
}
.LCD-PRAVOBEREZHNY_showMore, 
.NORWEGIAN-PARK_showMore, 
.LCD-SOSNOVSKIE-LAKES_showMore {
    padding-bottom: 90px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #AD1818;
    text-decoration: none;
}
/*+Блок 4 - услуги*/
.container_servivce {
    margin-bottom: 60px;
    margin: 0 auto;
}
.service_title {
    margin-top: 15px;
    margin-bottom: 34px;
    margin: 0 auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
 }
 .service__image__Planning-solution, 
 .service__image__Design-project, 
 .service__image__Autors-supervision, 
 .service__image__Equipment {
    margin-bottom: 15px;
 }
 .Planning-solution__text,
 .Design-project__text,
 .Autors-supervision_text, 
 .Equipment__text {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
 }
 
 
.project_serviceButton {
    margin-top: 90px;
    margin-bottom: 150px;
    width: 1150px;
    height: 153px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150px;
    letter-spacing: -0.9px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #AD1818;
    color: #AD1818;
    background-color: #FFFFFF;
}
.project_serviceButton:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}