body {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    line-height: 60px;
    color: #121212;
}
/*+ это меню навигации*/
.container_navbar {
    width: 1150px;
    margin: 0 auto;
    
}
.navbar__logo {
   width: 126.889px;
   height: 21.42px;
   
}
.container_navbar {
    margin-top: 33px;
    margin-bottom: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
.navbar_wrap {
    display: flex;
}

.navbar_menu li {
    color: #121212;
    display: inline-block;
}
.navbar_menu li a {
    color: #121212;
    margin-left: 60px;
    text-decoration: none;
    transition: all .07s;
}
.navbar_menu li a:hover {
opacity: 50%;
text-decoration: underline;
}
/*+ 1 блок*/
.hero {
    margin-bottom: 112px;
}
.hero__title {
    margin-top: 73.76px;
    padding-bottom: 88px;
    width: 956px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -1.8px;
    color: #121212;
}
.hero__wrapper {
    position: relative;
    width: 1150px;
    height: 500px;
}
.hero__text { 
    position: absolute;
    z-index: 1;
    left: 37px;
    width: 430px;
    bottom: 40px;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    color: rgb(255, 255, 255);
}
.hero__img {
    background-size: cover;
    width: 1150px;
    height: 500px;
}
/*+ 2 мини блок-карточка*/

.container__about {
    margin-bottom: 247px;
    padding-bottom: 30px;
    font-weight: 400px;
    font-size: 45px;
    line-height: 61.47px;
    border-width: 1048px;
    width: 1048px;
    height: 366px;
    top: 128px;
    letter-spacing: -1.35px;
    color: #121212;
}
.about__title {
    margin-bottom: 30px;
}
.about__text {
    margin-bottom: 30px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    color: #121212;
}
.about__btn {
    margin-top: 30px;
    width: 250px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 60px;
    letter-spacing: -0.6px;
    border-radius: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #AD1818;
    color: #FFFFFF;
    background-color: #AD1818;
}
.about {
    margin-bottom: 150px;
}
/*+Блок 3 - Список проектов*/
.project__title {
    margin-bottom: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #121212;
}
.container_project {
    margin-bottom: 30px;
    width: 1150px;
    margin: 0 auto;
}
.pravoberezhny__text, 
.norvegian-park__text, 
.sosnovskie-lakes__text {
    margin-bottom: 15px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #121212;
}
.pravoberezhny__img, 
.norvegian-park__img, 
.sosnovskie-lakes__img {
    background-size: cover;
    width: 1150px;
    height: 450px;
    flex-shrink: 0; 
}
.pravoberezhny__showMore, 
.norvegian-park__showMore, 
.sosnovskie-lakes__showMore {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #AD1818;
    text-decoration: none;
}
.pravoberezhny,
.norvegian-park,
.sosnovskie-lakes {
    margin-bottom: 90px;
}
.project__btn {
    margin-bottom: 150px;
    width: 1150px;
    height: 153px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150px;
    letter-spacing: -0.9px;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #AD1818;
    color: #AD1818;
    background-color: #FFFFFF;
}
.project__btn:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}
/*+Блок 4 - услуги*/
.service {
    padding-top: 151px;
    background-color: #121212;
}
.service__container {
    width: 100%;
    margin: 0 auto;
    height: 1844px;
    max-width: cover;
    background: cover;
}
.service__title {
    margin-bottom: 34px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #FFF;
 }
 .item {
    margin-bottom: 60px;
 }
 .item:nth-last-child(1){
    margin-bottom: 150px;
 }
 .plan-solution__img, 
 .sdesign-project__img, 
 .autor-supervision__img, 
 .equipment__img {
    width: 1150px;
    height: 270px;
 }
 .plan-solution__text,
 .design-project__text,
 .autor-supervision__text, 
 .equipment__text {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #FFF;
 }
 .example__wrapper {
    position: relative;
    background-size: cover;
    width: 1400px;
    height: 717px;
 }
 .example__text { 
    position: absolute;
    z-index: 1;
    left: 37px;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
 }
 
 